.links ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logo {
  font-size: 32px;
}

.logo img {
  width: 50px;
}
.gap-links {
  gap: 80px;
}

.search {
  background-color: unset;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(red, green, blue, 44%);
  font-size: 24px;
}

.search:focus {
  outline: none;
}

.search-button {
  background-color: unset;
  border: none;
  filter: invert(100%) brightness(100%) saturate(100%);
  cursor: pointer;
}

.search-button img {
  width: 40px;
}

.profile-button img {
  width: 70px;
  border-radius: 100px;
}

.profile-button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.header-movie {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(1, 1, 1, 0.01) 30%, rgba(1, 1, 1, 1)),
    url("../assets/freddy.jpg");
}

.movie-section {
  background: linear-gradient(rgba(1, 1, 1, 0.01) 30%, rgba(1, 1, 1, 1)),
    url("../assets/freddy.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  height: 400px;
}

.movie-genres {
  display: flex;
  gap: 20px;
}

.movie-genres span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  font-size: 32px;
  border: 6px solid white;
}

.movie-title {
  font-size: 64px;
  margin: 10px 0;
}

.movie-description {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-buttons {
  display: flex;
  gap: 20px;
}

.movie-buttons a {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
}
