.links ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logo {
  font-size: 32px;
}

.logo img {
  width: 50px;
}
.gap-links {
  gap: 80px;
}

.search {
  background-color: unset;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(red, green, blue, 44%);
  font-size: 24px;
}

.search:focus {
  outline: none;
}

.search-button {
  background-color: unset;
  border: none;
  filter: invert(100%) brightness(100%) saturate(100%);
  cursor: pointer;
}

.search-button img {
  width: 40px;
}

.profile-button img {
  width: 70px;
  border-radius: 100px;
}

.profile-button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.header-movie {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(1, 1, 1, 0.01) 30%, rgba(1, 1, 1, 1)),
    url("../assets/freddy.jpg");
}

.movie-section {
  background: linear-gradient(rgba(1, 1, 1, 0.01) 30%, rgba(1, 1, 1, 1)),
    url("../assets/freddy.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  height: 400px;
}

.movie-genres {
  display: flex;
  gap: 20px;
}

.movie-genres span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  font-size: 32px;
  border: 6px solid white;
}

.movie-title {
  font-size: 64px;
  margin: 10px 0;
}

.movie-description {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-buttons {
  display: flex;
  gap: 20px;
}

.movie-buttons a {
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
}

.all-movies {
  padding-top: 40px;
  box-shadow: inset 0px 0px 100px 100px rgba(1, 1, 1, 0.4);
}

.all-movies .title {
  text-align: center;
  padding-top: 15px;
  font-size: 36px;
  padding-bottom: 25px;
}

.movie-layout {
  gap: 25px;
}

.movie-card {
  background: linear-gradient(rgba(1, 1, 1, 0.01) 30%, rgba(1, 1, 1, 1)),
    url("../assets/freddy.jpg");
  background-position: center;
  background-size: cover;
  width: 336px;
  height: 230px;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0px 0px 20px black;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-info h3 {
  font-size: 24px;
  margin: 5px 0;
}

.movie-info p {
  font-size: 24px;
}

.movie-content {
  width: 700px;
  margin-left: 40px;
}

.genres {
  box-shadow: inset 0px 0px 100px 100px rgba(1, 1, 1, 0.4);
  text-align: center;
  padding-bottom: 30px;
  height: 400px;
}

.genres h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.genre-card {
  background-color: #f1e9ca;
  color: #4b0202;
  font-size: 40px;
  padding: 15px;
  width: 340px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genre-card .icon {
  font-size: 1.5rem;
}

.footer {
  background-color: #1b1b1b;
  padding: 20px;
  padding-top: 30px;
  gap: 100px;
}

.footer-logo {
  max-width: 200px;
}

.footer-logo h2 {
  font-size: 1.8rem;
  color: #ff5a5f;
}

.footer-logo span {
  color: #fff;
}

.footer-logo p {
  font-size: 1rem;
  color: #ff5a5f;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
}

.contact,
.social {
  margin-top: 10px;
}

.social a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.social p {
  margin-bottom: 5px;
}
